/*
 * Copyright (C) 2018 Alice L.
 * This file is part of Voke <https://github.com/antflga/voke-frontend>.
 *
 * Voke is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Voke is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Voke. If not, see <http://www.gnu.org/licenses/>.
 */

.viewcontainer {
    display: block;
    margin-top: 3em;
}

div.menu div.item div.ui.buttons div.ui.button {
    border-radius: 0 !important;
}

div.right.menu div.item.imagepagenav span div.ui.tiny.inverted.input input {
    text-align: center;
    border-radius: 0;
    width: 4em;
}

.imagepagenav {
    height: 2.8em;
}
