/*
 * Copyright (C) 2018 Alice L.
 * This file is part of Voke <https://github.com/antflga/voke-frontend>.
 *
 * Voke is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Voke is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Voke. If not, see <http://www.gnu.org/licenses/>.
 */

.ui.card > .content, .ui.cards > .card > .content, .imagebuttons {
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.ui.card > .content {
    border-top: 0 !important;
}

div.ui.buttons.buttons button {
    border-radius: 0 !important;
    margin: 0;
}

.textwrapper {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.buttontext {
    white-space: nowrap;
    overflow: hidden !important;
    padding: 0;
    margin: 0;
}

.gridcard {
    margin: 8px;
}

div.gridcard div.ui.card {
    width: 100%;
    height: 100%;
}

.imagewrapper {
    cursor: zoom-in !important;
    display: block;
    left: 0;
    top: 0;
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

.blur {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    position: absolute;
    filter: blur(10px);
    object-fit: fill !important;
    height: 100%;
    width: 100%;
}

.cardimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    object-fit: scale-down !important;
    box-sizing: border-box !important;
}


img.lightboximage {
    height: 100% !important;
    min-width: 30vw  !important;
    max-width: 90vw !important;
    /*min-height: 50vh !important;*/
    object-fit: scale-down !important;
    padding-top: 5vh;
    max-height: 95vh;
}

.box img {
    cursor: zoom-out;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.lightbox {
    visibility: visible;
    opacity: 1;
    outline: none;
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    color: #333333;
}

.lightbox .box {
    display: block;
    height: 100vh;
    width: 100vw;
    background:rgba(50,50,50,0.7);
}
